.login-card {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  z-index: 0;
  overflow: hidden; /* важно для скругления */
}

.login-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(135deg, #999999, #ffffff);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

.login-header {
  text-align: center;
}

.forgot-link {
  display: flex;
  justify-content: flex-end;
}
