.details__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
}

.details__fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.details__letter-field {
    flex: 0 0 calc(33.333% - 11px);
    width: 100%;
    margin-bottom: 24px !important;
}

.details__letter-field .ant-form-item-label {
    display: none !important;
}
.details__letter-field .ant-input,
.details__letter-field .ant-select-selector,
.details__letter-field .ant-picker,
.details__letter-button {
    border-radius: 15px ;
    border: 1.5px solid #88c4c4;
    min-height: 48px;
    max-height: 49px;
    padding: 0 24px;
    background-color: #fff;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    box-shadow: none;
    width: 100%;
}
.details__letter-field .ant-select {
    border-radius: 15px ;
    min-height: 48px;
    max-height: 49px;
}
.details__letter-field .ant-select-selector {
    padding: 0 12px 0 24px; 
}


.details__letter-button:hover {
    background-color: #efefef !important;
    border-color: #d0d0d0 !important;
}

@media (max-width: 992px) {
    .details__letter-field {
        flex: 0 0 calc(50% - 8px);
    }
}

@media (max-width: 576px) {
    .details__letter-field {
        flex: 0 0 100%;
    }
}


