/* Основной контейнер */
.resolution-of-letter__container{
    max-width: max-content;
    padding: 0 80px;
}

/* Блок автора */
.resolution__author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    max-width: max-content;
}

.resolution__author-name {
    font-weight: 500;
    font-size: 14px;
    max-width: max-content;
}

.resolution__author-date {
    color: #8c8c8c;
    font-size: 12px;
}

/* Форма */
.resolution__form-container {
    max-width: 300px;
}

.resolution__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.resolution__input,
.resolution__datepicker,
.resolution__select .ant-select-outlined {
    min-width: 300px !important;
    max-width: 300px !important;
    padding: 16px 56px 12px 16px !important;
    height: auto !important;
    border-radius: 10px !important;
    font-size: 16px !important;
}

.resolution__select .ant-select-selector {
    background: red !important;
}
.resolution__icon {
    color: #1d4ed8 !important;
    font-size: 12px;
}
.resolution__button-executor {
    border: 1px solid #1d4ed8 !important;
    color: #1d4ed8 !important;
    border-radius: 10px !important;
    background: transparent;
    padding: 19px 85px;
    margin-bottom: 32px;
}

/* Блок загрузки */

.resolution__upload-section .ant-upload-drag-container{
    padding: 16px;
}

.resolution__dragger .ant-upload-drag {
    border: none !important;
}

.resolution__upload-title {
    font-weight: 600;
    margin-bottom: 17px;
    color: #1a1a1a;
    font-size: 14px;
}

.resolution__upload-section .ant-upload-drag-container{
    background: #fff !important;
    text-align: left;
}

.resolution__upload-section .ant-upload-btn{
background: #fff !important;
border: none !important;
}

.resolution__dragger-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    border: 1px dashed #f0f0f0 !important;
    background-color: #fff !important;
    transition: border 0.2s;
}

.resolution__dragger-content:hover{
    border: 1px dashed #1d4ed8 !important;
}

.resolution__dragger-icon {
    color: #1d4ed8;
    margin-bottom: 8px;
}

.resolution__dragger-text {
    color: #bfbfbf;
    font-size: 12px;
    margin-bottom: 16px;
}

.resolution__dragger-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #003eb3;
    min-width: 32px;
    min-height: 32px;
    max-width: 33px;
    max-height: 33px;
    transition: background 0.3s;
}

.resolution__dragger-plus:hover {
    background-color: #002c80;
}