/* Основной контейнер */
.resolution {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 16px;
    min-width: 1360px;
    max-width: 1361px;
}

.resolution__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #000;
}

/* Блок автора */
.resolution__author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.resolution__author-name {
    font-weight: 500;
    font-size: 14px;
}

.resolution__author-date {
    color: #8c8c8c;
    font-size: 12px;
}

/* Форма */
.resolution__form-container {
    max-width: 300px;
}

.resolution__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.resolution__input,
.resolution__datepicker,
.resolution__select .ant-select-outlined {
    min-width: 300px !important;
    max-width: 300px !important;
    padding: 16px 56px 12px 16px !important;
    height: auto !important;
    border-radius: 10px !important;
    border: 1px solid #f0f0f0 !important;
    font-size: 16px !important;
}

.resolution__select .ant-select-selector {
    background: red !important;
}
.resolution__icon {
    color: #1d4ed8 !important;
    font-size: 12px;
}
.resolution__button-executor {
    border: 1px solid #1d4ed8 !important;
    color: #1d4ed8 !important;
    border-radius: 10px !important;
    background: transparent;
    padding: 19px 85px;
}

/* Блок загрузки */

.resolution__upload-title {
    font-weight: 600;
    margin-bottom: 16px;
    color: #1a1a1a;
}

.resolution__dragger.ant-upload-drag {
    width: 300px !important;
    background: #fff !important;
    border: none !important;
}

.resolution__dragger .ant-upload-btn {
    padding: 0 !important;
}

.resolution__dragger-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #f0f0f0;
    border-radius: 12px;
}

.resolution__dragger-icon {
    color: #1d4ed8;
    margin-bottom: 8px;
}

.resolution__dragger-text {
    color: #bfbfbf;
    font-size: 12px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 16px;
}

.resolution__dragger-plus {
    background-color: #003eb3;
    min-width: 32px;
    min-height: 32px;
    max-width: 33px;
    max-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background 0.3s;
}

.resolution__dragger-plus:hover {
    background-color: #002c80;
}