.card {
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border);
  background-color: #fff;
  padding:16px;
  min-width: 389px;
}


.profile-avatar {
  background-color: #2563eb;
  border-radius: 50%;
}

.profile-header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}


.profile-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
    color: var(--color-profile-title);
}

.profile__content {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  padding: 16px;
}

.profile__right-content {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  min-width: 1422px;
  max-width: 1473px;
  padding: 16px;
}

.profile__header{
    display: flex;
    justify-content: center;
}

.profile__info-item{
  font-size: 14px;
}

.profile__info-item-value{
  font-size: 14px;
  font-weight: 500;
}

.profile__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile__right-body {
    margin-top: 16px;
}