.card {
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border);
  background-color: #fff;
  padding: 16px;
  /* min-width: 389px; */
}

.profile-avatar {
  background-color: #2563eb;
  border-radius: 50%;
}

.profile-header {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.profile-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  color: var(--color-profile-title);
}

.profile__content {
  display: flex;
  gap: 19px;
  padding: 16px;
}

.profile__left-content {
  width: 25%;
}

.profile__right-content {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  width: 75%;
}

.profile__header {
  display: flex;
  justify-content: center;
}

.profile__info-item {
  font-size: 14px;
}

.profile__info-item-value {
  font-size: 14px;
  font-weight: 500;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__right-body {
  margin-top: 16px;
}

.profile__tabs-wrapper {
  margin-bottom: 0;
}

.profile__tabs-wrapper .ui-tab {
  padding: 10px 89px;
}

.profile__content-card {
  background-color: #fff;
  border-radius: 16px;
  /* Remove top-left radius if the first tab is active to truly blend, 
     but since tabs can change, we keep it subtle or use a small overlap */
  border-top-left-radius: 0; 
  padding: 32px;
  min-height: 500px;
  box-shadow: 0 4px 20px rgba(0, 55, 175, 0.04);
}
