

.profile-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
    color: var(--color-profile-title);
}

.profile__content {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  padding: 16px;
}

.profile__left-content {
  padding-left: 24px;
}

.profile__right-content {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  min-width: 1472px;
  max-width: 1473px;
  padding: 16px;
}

.profile__header{
    display: flex;
    justify-content: center;
}

.profile__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile__right-body {
    margin-top: 16px;
}