.docView__content {
    display: flex;
    height: 100vh;
    background-color: #fff;
}

/* Левая часть */
.docView__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f0f5ff;
    padding: 20px;
    overflow: hidden;
}

.docView__document-preview {
    flex: 1;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 20px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

/* Правая часть */
.docView__right {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-left: 1px solid #e8e8e8;
}

.docView__right-files {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

/* Карточки из макета */
.file-card {
    border: 1px solid #adc6ff;
    border-radius: 8px;
    background: #f0f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 24px 57px 23px 57px;
    transition: all 0.2s;
}

.file-card.active {
    border: 2px solid #1d39c4;
    background: #e6f7ff;
}

.file-icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 6px;
}


.file-name {
    font-size: 10px;
    color: #262626;
}

.docView__right-actions {
    margin-top: auto; 
    display: flex;
    gap: 12px;
}

.action-btn {
    flex: 1;
    height: 40px;
}