.modal-doc .ant-modal-container {
  padding: 0;
}

.card {
  background-color: #fff;
  position: relative;
  height: 800px;
  width: 100%;
  transform: perspective(5000px) rotateZ(0);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card.is-open {
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
}

.cover p {
  position: relative;
  z-index: 5; /* Выше чем ::after */

  /* Разворачиваем текст изначально "спиной", 
     чтобы при открытии книги он стал лицом */
  transform: rotateY(180deg);

  /* Скрываем его, когда книга закрыта (чтобы не просвечивал сквозь обложку) */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  font-size: 24px;
  color: #333;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/cover.png");
  background-size: cover;

  /* Важно: заставляем картинку исчезнуть, когда она поворачивается спиной */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /* Картинка должна быть над белым фоном .cover */
  z-index: 1;
}

.cover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white; /* Цвет внутренней стороны обложки */
  /* border-radius: 10px; */
  /* Разворачиваем этот слой изначально "спиной" к пользователю */
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  /* Добавим легкую тень для реализма внутренней страницы */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card.is-open .cover {
  transform: rotateY(-170deg);
}

.content {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.modal-doc {
  pointer-events: none;
}
.modal-doc .ant-modal-content {
  pointer-events: auto;
  background: transparent !important;
}

.docView__document-preview {
  flex: 1;
  background: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.docView__right-title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 16px;
}

.docView__right-files {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  flex-wrap: wrap;
  width: 100%;
}

/* Карточки из макета */
.file-card {
  border: 1px solid #0037af;
  border-radius: 8px;
  background: #f0f5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.file-card:hover {
  border: 1px solid #1d39c4;
}

.file-card.active {
  border: 1px solid #1d39c4;
  background: #e6f7ff;
}

.file-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 6px;
}

.file-name {
  font-size: 14px;
  color: #262626;
}

.docView__right-actions {
  margin-top: auto;
  display: flex;
  gap: 12px;
  margin-bottom: 5px;
}

.action-btn {
  flex: 1;
  height: 40px;
}
