/* --- ЗАГОЛОВОК --- */
.correspondence-title {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 16px;
}

.view-input input::placeholder,
.create-input input::placeholder,
.view-input.ant-input::placeholder,
.create-input.ant-input::placeholder {
  font-size: 14px !important;
  opacity: 1 !important;
}

.view-input input::placeholder,
.view-input.ant-input::placeholder {
  color: rgba(255, 255, 255, 0.759) !important;
}
.create-input input::placeholder,
.create-input.ant-input::placeholder {
  color: #00000040 !important;
}

.view-input.ant-picker {
  background-color: #0037af !important;
}

.view-input .ant-picker-input input {
  color: white;
}

.view-input .ant-picker-clear {
  color: #ffffff !important;
  background-color: #0037af !important;
  border-radius: 50%;
}

.view-input .ant-picker-clear:hover {
  color: #ffffff !important;
  opacity: 1 !important;
}

.view-input .ant-picker-suffix {
  color: #ffffff !important;
}

.ant-form-item-control-input-content input.view-input {
  background-color: #0037af;
  color: white;
}

.ant-form-item-control-input-content .ant-select.view-input {
  background-color: #0037af;
}

.ant-form-item-control-input-content
  .ant-select.view-input
  .ant-select-content
  .ant-select-placeholder {
  color: rgba(255, 255, 255, 0.759) !important;
}

.ant-form-item-control-input-content
  .ant-select.view-input
  .ant-select-content
  .ant-select-content-value {
  color: white;
}

.view-input .ant-select-suffix {
  color: #ffffff !important;
}

.view-input .ant-select-clear {
  color: #ffffff !important;
  background-color: #0037af !important;
}
