.drawer-floating-container {
  display: flex !important;
  flex-direction: column !important;
  min-height: 720px !important;
  max-height: 721px !important;
}

.drawer-floating-container--pinned {
  top: 145px !important;
  right: 35px !important;


}

.drawer-header {
  padding: 16px 24px !important;
  display: flex !important;
  justify-content: space-between !important;
  border-radius: 20px !important;
}

.drawer-body {
  padding: 24px !important;
  /* flex: 1 !important; */
  /* display: flex !important; */
  /* flex-direction: column !important; */
  /* overflow: hidden !important; */
}

.drawer-content-scroll {
  flex: 1 !important;
  /* overflow-y: auto !important; */
}

.drawer-footer-modal-fix {
  padding: 0 !important;
}

@keyframes fadeInSlide {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.drawer__content--animate {
  animation: fadeInSlide 0.4s ease-out forwards;
}