.drawer-floating-root .ant-drawer-content-wrapper {
  height: calc(100% - 40px) !important;
  top: 25px !important;
  right: 25px !important; 
  
}


.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ant-drawer-section{
  border-radius: 20px !important;
}

/* Анимация появления контента внутри */
@keyframes fadeInSlide {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
.drawer__content--animate {
  animation: fadeInSlide 0.4s ease-out forwards;
}