.drawer-floating-root .ant-drawer-content-wrapper {
  height: calc(100% - 40px) !important;
  top: 25px !important;
  right: 25px !important;
  border-radius: 20px !important;
  overflow: hidden; 
}

.drawer-floating-root .ant-drawer-content {
  border-radius: 20px !important;
  overflow: hidden;
}

.drawer-floating-root .ant-drawer-wrapper-body {
  border-radius: 20px !important;
  overflow: hidden;
}

.drawer-floating-root .ant-drawer-header {
  border-radius: 20px 20px 0 0 !important;
}

.drawer-floating-root .ant-drawer-body {
  border-radius: 0 0 20px 20px !important;
  overflow-y: hidden; 
  overflow-x: hidden; 
}

@keyframes fadeInSlide {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.drawer__content--animate {
  animation: fadeInSlide 0.4s ease-out forwards;
}