.drawer-header {
  padding: 16px 24px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.drawer-body {
  padding: 0 24px !important;
  margin-bottom: 24px;
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  /* min-height: 751px !important; */
  /* max-height: 752px!important; */
  /* border-radius: 20px!important; */
  /* overflow: hidden !important; */
}

.drawer-content-scroll {
  flex: 1 !important;
  /* overflow-y: auto !important; */
}

.drawer-footer-modal-fix {
  padding: 0 !important;
}

@keyframes fadeInSlide {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.drawer__content--animate {
  animation: fadeInSlide 0.4s ease-out forwards;
}