/* В вашем глобальном или локальном CSS файле */
.custom-registry-table .ant-table-thead > tr > th {
  background: #f8fafc; /* Светлый фон для шапки */
  font-weight: 600;
  color: #475569;
}

.custom-registry-table .ant-table-row:hover {
  cursor: pointer;
}

/* ===================== */

.modal-doc .ant-modal-container {
  padding: 0;
}

.card {
  background-color: #fff;
  position: relative;
  height: 800px;
  width: 100%;
  transform: perspective(5000px) rotateZ(0);
  transform-style: preserve-3d;
  box-shadow:
    10px 0 20px rgba(0, 0, 0, 0.4),
    inset 300px 0 50px rgba(0, 0, 0, 0.4);
  transition: all 1s ease-in-out;
  border-radius: 10px;
}

.card.is-open {
  box-shadow:
    10px 0 20px rgba(0, 0, 0, 0.4),
    inset 10px 0 50px rgba(0, 0, 0, 0.4);
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: cover;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 10px;
  z-index: 2;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../assets/images/cover.png");
  background-size: cover;
  border-radius: 10px;

  /* Важно: заставляем картинку исчезнуть, когда она поворачивается спиной */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /* Картинка должна быть над белым фоном .cover */
  z-index: 1;
}

.card.is-open .cover {
  transform: rotateY(-170deg);
  box-shadow:
    10px 0 20px rgba(0, 0, 0, 0.2),
    inset 10px 0 50px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.modal-doc {
  pointer-events: none;
}
.modal-doc .ant-modal-content {
  pointer-events: auto;
  background: transparent !important;
}
